@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">

    <div class="panel-heading">
        <h2 class="panel-title index-title text-center">Tutti i generi</h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                @{
                    Html.RenderPartial("_GraphAverageRatings");
                }
            </div>
            <div class="col-md-4">
                @{
                    Html.RenderPartial("_GraphBestGames");
                }
            </div>
            <div class="col-md-4">
                @{
                    Html.RenderPartial("_GraphWorstGames");
                }
            </div>
        </div>
    </div>
</div>